@page "{handler?}"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = "Registrations";
    ViewData["Section"] = "Registrations";
}
@section Scripts{
    <script>
        var ResponseHandler = function (res) { return res; }
        var TableActions = function (value, row, index) {
            return [
                '<a href="/Registrations/Update/?registrationId=' +
                row.id +
                '" title="Edit"><i class="glyphicon glyphicon-pencil"></i></a> ',
                '<a class="danger remove" href="#" data-id="' +
                row.id +
                '" data-toggle="modal" data-target=".deleteModal" title="Delete">',
                '<i class="glyphicon glyphicon-trash"></i>',
                '</a>'
            ].join('');
        };
        $('.deleteModal').on('show.bs.modal',
            function (event) {
                $(this).find('#Id').val($(event.relatedTarget).data('id'));
            }
        );
    </script>
}
<div class="row">
    <div class="col-md-12">
        <h3>@ViewBag.Title</h3>
        <p><a asp-page="/Registrations/Add">@Localizer["Create a Registration"]</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Registrations Created</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <table id="registrationsTable"
               data-toolbar="#toolbar"
               data-toggle="table"
               data-search="false"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-show-export="true"
               data-detail-view="false"
               data-minimum-count-columns="1"
               data-id-field="id"
               data-show-footer="false"
               data-pagination="true"
               data-page-size="9"
               data-page-list="[10, 25, 50, 100, ALL]"
               data-side-pagination="server"
               data-url="/registration/GetRegistrations"
               data-response-handler="ResponseHandler">
            <thead>
                <tr>
                    <th data-field="registrationNumber" data-sortable="true">Registration Number</th>
                    <th data-field="activity.name" data-sortable="true">Activity</th>

                    <th data-field="user.fullName" data-sortable="true">User</th>
                    <th data-field="comments" data-sortable="true">Comments</th>
                    
                    <th data-formatter="TableActions">Action</th>
                </tr>
            </thead>
        </table>
        <p>Reference: <a asp-controller="Registration" asp-action="GetRegistrations" asp-route-items="200">@Localizer["Registration Json"]</a></p>
    </div>
</div>
<div class="modal fade deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <form method="post" asp-page="/Registration/Index">
                    <input type="hidden" id="Id" name="Id" />
                    <p>Are you sure you want to delete this Registration?</p>
                    <button class="btn btn-danger" asp-page-handler="delete">Delete</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>