@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AddModel
@{
    ViewData["Title"] = "Create an Activity";
    ViewData["Section"] = "Admin";
}
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-horizontal" data-toggle="validator">
        <div class="control-group" id="activitiesForm">
            <div class="form-group row">
                <div class="col-md-3">
                    <label asp-for="Activity.Name" class="control-label"></label>
                    <input asp-for="Activity.Name" class="form-control" />
                    <span asp-validation-for="Activity.Name" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Activity.Date" class="control-label"></label>
                    <input asp-for="Activity.Date" class="form-control" />
                    <span asp-validation-for="Activity.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="controls margintop15">
                <div class="col-md form-control-12">
                    <input type="submit" name="button" id="SendBtn" value="@Localizer["Submit"]" class="btn btn-primary" />
                    <a href="/Admin/Activities" class="btn btn-primary">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}